.tree-stage-item-mission-stages {
  background: #f7f7fa;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(214, 214, 214, 0.25);
  border-radius: 5px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 13px;
  .ant-typography {
    display: block;
    text-align: center;
    flex-grow: 1;
    user-select: none;
  }
  .anticon {
    svg {
      transform: scale(1.15);
    }
    &.anticon-down {
      svg,
      svg path {
        fill: #08ac75;
      }
    }
    &.anticon-close {
      svg,
      svg path {
        fill: #db2c34;
      }
    }
    &:hover {
      transform: scale(1.45);
    }
  }
}
